html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 1.5rem;
  margin: 0;
}

header {
  .navbar-brand {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem;
  }
}

main {
  display: block;
  flex: 1;
}

footer {
  background: lightgray;
  margin-top: auto;
  p.copyright {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";

@import 'view/index'
