@import "node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 1.5rem;
  margin: 0;
}

@import 'view/layout/header';
@import 'view/layout/main';
@import 'view/layout/footer';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.block {
  display: block;
}

@import 'components/checkbox';
@import 'components/radio';
@import 'view/index';
