@import "node_modules/bootstrap/scss/bootstrap";

@import 'tags/html';
@import 'tags/body';
@import 'tags/h';

@import 'classes/block';

@import 'views/layout/header';
@import 'views/layout/main';
@import 'views/layout/footer';

@import 'components/checkbox';
@import 'components/radio';
@import 'views/index';
