label.c-checkbox-label-1 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 2.0rem;
  font-weight: 500;
  margin: 1.0rem 2.0rem 1.0rem 0;
  user-select: none;
  &::before {
    content: "";
    display: inline-block;
    background: $primary-color;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    margin: 0 0 auto 0;
    vertical-align: middle;
    border: 1px solid $border-color;
    border-radius: 12.5%;
    box-sizing: border-box;
  }
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 12px;
    width: 18px;
    height: 30px;
    border: 9px solid white;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }
  input[type=checkbox] {
    cursor: pointer;
    appearance: none;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    outline: 0;
    border: 1px solid $border-color;
    border-radius: 12.5%;
    box-sizing: border-box;
    transition: all 0.1s linear 0s;
    &:checked {
      width: 0;
      height: 0;
      top: 20px;
      left: 20px;
      border: none;
    }
    &:focus {
      outline: 0;
    }
    & ~ * {
      display: inline-block;
      font-size: inherit;
      font-weight: inherit;
      margin: auto 0 auto 1.0rem;
      padding: 0;
    }
  }
}
